@model CapenexisLeaners2023.Models.Learners

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Learners</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LearnersName" class="control-label"></label>
                <input asp-for="LearnersName" class="form-control" />
                <span asp-validation-for="LearnersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearnersSurname" class="control-label"></label>
                <input asp-for="LearnersSurname" class="form-control" />
                <span asp-validation-for="LearnersSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearnersIdentityNumber" class="control-label"></label>
                <input asp-for="LearnersIdentityNumber" class="form-control" />
                <span asp-validation-for="LearnersIdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
